<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:replace="fragments/head :: head"></head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="gray-bg">
    <div lang="en" th:replace="fragments/header :: header"></div>
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <form method="POST" enctype="multipart/form-data" action="/pets/add/image">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="form-group input-group has-feedback">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-picture"></span>
                </span>
                    <input type="file" accept="image/*" name="image"
                           placeholder="Image" class="form-control" required/>
                    <span class="glyphicon form-control-feedback"></span>
                </div>
                <button class="btn btn-primary block full-width m-b">Finish</button>
            </form>
        </div>
    </div>
</body>
</html>