<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en" th:replace="fragments/header :: header"> </head>
<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <h4>Welcome</h4>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-primary block full-width m-b"/>
        </form>
    </div>
</body>
</html>